body {
    position: relative; 
    height: 100%;
}
#section1 {padding-top:50px;height:100%;color: black; background-color: #ffffff;}

html {
    height: 100%;
}

.bg { 
    /* The image used */
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}